body {
    background-color: #bdbdbd;
    margin-top: 7%;
}

.title {
    text-align: center;
    margin-left: 20%;
}

.TAMIL {
    color: blue;
    font-weight: bold;
}

.container {
    margin-top: 1%;
}

td {
    vertical-align: bottom;
}

table,
th,
td {
    border: 1px solid transparent;
    border-collapse: collapse;
    padding-left: 3%;
    border-radius: 7px;
    margin: 4px;
}

table {
    width: 90%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.808);
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    border-radius: 7px;
    box-shadow: 0rem 0 2rem grey;
}

th {
    height: 150%;
    border-radius: 7px;
}

.Recovered {
    color: #28a745;
}

.Active {
    color: #007bff;
}

.Confirmed {
    color: #ff073a;
}

.recover {
    font-size: 80%;
    color: #28a745;
}

.confirm {
    font-size: 80%;
    color: #ff073a;
}

.dece {
    font-size: 80%;
}

.glyphicon {
    font-size: 80%;
    font-weight: 0%;
}

.banner {
    width: 50%;
    height: 0%;
}

.head {
    background-color: rgb(214, 214, 214);
}

.zero {
    margin-top: 8%;
}

img {
    height: 20%;
    margin-left: 5%;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-container>div {
    width: 150px;
    height: 150%;
    margin: 10px;
    margin-top: 1%;
    margin-left: 7%;
    text-align: center;
    font-size: 30px;
}

.mcon {
    margin-bottom: 0;
    font-size: 50%;
    color: #a10424;
}

.con {
    background-color: rgba(255, 7, 57, 0.26);
    border-radius: 17px;
    width: 100%;
}

.mrec {
    margin-bottom: 0;
    font-size: 50%;
    color: #008a20;
}

.rec {
    background-color: rgba(40, 167, 70, 0.171);
    border-radius: 17px;
    width: 100%;
}

.mdec {
    margin-bottom: 0;
    font-size: 50%;
}

.dec {
    background-color: rgba(108, 117, 125, 0.336);
    border-radius: 17px;
    width: 100%;
}

.mtes {
    margin-bottom: 0;
    font-size: 50%;
    color: rgb(13, 0, 255);
    font-weight: 900%;
}

.tes {
    background-color: rgba(33, 26, 162, 0.247);
    border-radius: 17px;
    width: 100%;
}

.Time {
    color: rgb(3, 3, 114);
    margin-left: 5%;
    font-weight: bold;
}

.heading {
    text-align: center;
}

.headtn {
    color: blue;
    margin-left: 0px;
    font-size: 90%;
}

#tcon {
    font-size: 55%;
    color: red;
}

#trec {
    font-size: 55%;
    color: green;
}

#tdec {
    font-size: 55%;
    margin-top: 0%;
}

.state {
    align-items: center;
    background: rgba(255, 193, 7, 0.459);
    border-radius: 5px;
    color: #ff0000;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    padding: .75rem;
    width: 15%;
    height: 10%;
}

tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.808);
}

.navbar {
    overflow: hidden;
    background-color: #1d1d1d;
    position: fixed;
    width: 100%;
    margin-top: 0px;
    top: 0;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: #251841;
    color: white;
}

.navbar a.active {
    background: rgb(2, 0, 36);
    background: linear-gradient( #cc2b5e 0%, #753a88 100%);
    color: white;
}
